.header {
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

.title-container {
  display: flex;
  gap: 40px;
}

.title {
  font-size: 72px;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
}
